<%- include('partials/head'); -%>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
      <h1 class="posttitle" itemprop="name headline">
          <%= data.title %>
      </h1>
      <div class="meta">
          <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
              <span itemprop="name">Lars</span>
          </span>
          <div class="postdate">
              <time datetime="<%= data.createdAt %>" itemprop="datePublished">
                  <%= data.updatedAt %>
              </time>
          </div>
      </div>
  </header>

  <div class="content" itemprop="articleBody">
      <%- data.body %>
  </div>
  <a href="/">go back</a>
</article>

<%- include('partials/footer'); -%>