<%- include('partials/head'); -%>

<div class="loader-wrapper">
    <div class="loader">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
      <h1 class="posttitle" itemprop="name headline">
          <%= data.title %>
      </h1>
      <div class="meta">
          <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
              <span itemprop="name"><%= data.author %></span>
          </span>
          <div class="postdate">
              <time datetime="<%= data.updated_at %>" itemprop="dateUpdated">
                  <%= data.updated_local %>
              </time>
          </div>
      </div>
  </header>

  <div class="content" itemprop="articleBody">
      <%- data.content %>
  </div>
  <a href="/">zurück</a>
</article>

<%- include('partials/footer'); -%>