<%- include('partials/head'); -%>  
<%- include('partials/header'); -%>

<ul class="post-list">
    <li class="post-item">
        <% if (data.posts.length > 0) { %> <% data.posts.forEach(post=> { %>

        <div class="meta">
            <time datetime="<%= post.created_at %>" itemprop="datePublished">
                <%= post.createdAt_local %>
            </time>
            <span>
                <a href="<%= post.link %>">
                    <%= post.title %>
                </a>
            </span>
        </div>

        <% }) %> <% } else { %>

        <h4>Im Moment sind noch keine Beiträge vorhanden.</h4>

        <% } %>
    </li>

    <div class="kb-club">
        <a href="https://512kb.club">
            <img src="/logo/orange-team.svg" alt="512kb Club Team Orange" />
        </a>
    </div>
</ul>

<%- include('partials/footer'); -%>