<%- include('partials/head'); -%>  
<%- include('partials/header'); -%>

<ul class="post-list">
    <li class="post-item">
        <% if (data.allPosts.length > 0) { %> <% data.allPosts.forEach(post=> { %>

        <div class="meta">
            <time datetime="<%= post.createdAt %>" itemprop="datePublished">
                <%= post.createdAt_local %>
            </time>
            <span>
                <a href="<%= post.link %>">
                    <%= post.title %>
                </a>
            </span>
        </div>

        <% }) %> <% } else { %>

        <h4>There are no posts to display...</h4>

        <% } %>
    </li>

    <div class="kb-club">
        <a href="https://512kb.club">
            <img src="https://512kb.club/assets/images/orange-team.svg" />
        </a>
    </div>
</ul>

<%- include('partials/footer'); -%>