<%- include('partials/head'); -%>
<%- include('partials/header'); -%>

<ul class="post-list">
    <li class="post-item">
        <% if (data.length > 0) { %> <% data.forEach(post=> { %>

        <div class="meta">
            <time datetime="<%= post.created %>" itemprop="datePublished">
                <%= post.created_local %>
            </time>
            <span>
                <a href="<%= post.url %>">
                    <%= post.title %>
                </a>
            </span>
        </div>

        <% }) %> <% } else { %>

        <h4>There are currently no posts available.</h4>

        <% } %>
    </li>
</ul>

<%- include('partials/footer'); -%>
